* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
}

.confirm-modal-button {
  font-size: 1rem;
  width: 100%;
}
