* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  height: 100%;
}

.sidebar-area {
  flex: 0 0 250px;
  margin-right: 4px;
}

.sidebar {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: min-content;
}

.tool {
  background-color: #f1f1f1;
  color: #000;
  margin: 4px;
  font-size: 20px;
  text-align: center;
}

.generator {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input input[type="range"] {
  flex: 1;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.topbar {
  display: flex;
  border: 2px #aaa solid;
  flex-direction: row;
  margin-bottom: 1vh;
}

.topbar-menu {
  padding: 1px 4px 1px 4px;
}

.topbar-menu:hover {
  cursor: pointer;
}

.md-button {
  font-size: 1rem;
  width: 4vw;
}
