* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  height: 100%;
}

.sidebar-area {
  flex: 0 0 150px;
}

.sidebar {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: min-content;
}

.tool {
  background-color: #f1f1f1;
  color: #000;
  margin: 4px;
  font-size: 20px;
  text-align: center;
}
