.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* The Modal (background) */
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  height: fit-content;
  background: white;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 10px #aaa;
  border: 1px black solid;
  border-radius: 10px;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
}

.modal-body>input {
  width: 100%;
  font-size: 1rem;
  margin: 4px 0px 4px 0px;
  padding: 4px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
