.sidebar-area {
  border-right: 4px solid transparent;
  overflow: auto;
  width: max-content;
  flex-shrink: 0;
}

.tools {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: min-content;
}

.tool {
  background-color: #f1f1f1;
  color: #000;
  margin: 4px;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
}
