.sidebar-area {
  border-right: 4px solid transparent;
  overflow: auto;
  /* width: 250px; */
  width: max-content;
  flex-shrink: 0;
}

.tools {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: min-content;
}

.tool {
  background-color: #f1f1f1;
  color: #000;
  margin: 4px;
  font-size: 20px;
  text-align: center;
}

.generator {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input input[type="range"] {
  flex: 1;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
