package ui

templ MainPage() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script type="module" src="js/editor.js"></script>
			<link rel="stylesheet" href="css/index.css"/>
			<link rel="stylesheet" href="css/editor.css"/>
			<title>Map Editor</title>
		</head>
		<body>
			<div class="page">
				<div class="sidebar">Sidebar</div>
				@EditorPage()
			</div>
		</body>
	</html>
}
