package ui

templ RightSidebarPage() {
	<div class="right-sidebar-area">
		<div class="vertical-bar">
			<div id="empty-side"></div>
			<div id="editor-information" class="end-of-corner"></div>
		</div>
	</div>
}
