package ui

templ SidebarPage() {
	<div class="sidebar-area">
		<span>Tools</span>
		<div class="sidebar">
			<button class="tool">Brush</button>
			<button class="tool">Eraser</button>
			<button class="tool">Fill</button>
		</div>
	</div>
}
