package ui

templ SidebarPage() {
	<div class="sidebar-area">
		<div class="tools" id="toolbar">
			<button class="tool" id="rectangle" data-tool="rectangle">Rectangle Tools</button>
			<button class="tool" id="brush" data-tool="brush">Brush Tools</button>
		</div>
		<div class="tool-config">
			<div id="rectangle-tool" hidden><rectangle-tool></rectangle-tool></div>
			<div id="brush-tool" hidden></div>
		</div>
	</div>
}
