package ui

templ TopBar() {
	<div class="topbar">
		<div class="topbar-menu" id="newCanvas">
			New
		</div>
		<div class="topbar-menu" id="saveCanvas">
			Save
		</div>
		<div class="topbar-menu" id="openCanvas">
			Open
		</div>
	</div>
}
