package ui

templ TopBar() {
	<div class="topbar">
		<div class="topbar-menu" id="newCanvas">
			New
		</div>
		<div class="topbar-menu" id="saveCanvas">
			Save
		</div>
		<div class="topbar-menu" id="openCanvas">
			Open
		</div>
		<div class="topbar-menu dropdown" id="other-view">
			<button type="button" id="dropViewsOption" class="dropbtn">View</button>
			<div id="views-option" class="dropdown-content">
				<div id="toggleDebugLayer">Toggle Debug Layer</div>
			</div>
		</div>
	</div>
}
